<app-navbar></app-navbar>

<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <button class="btn btn-success" data-bs-toggle="mdlAgregar" data-bs-target="#mdlAgregar" >Add Usuario</button>
        </div>
    </div>
    <br>
    <table class="table">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Municipio</th>
          <th scope="col">Estado</th>
          <th scope="col">Telefono</th>
        </tr>
        <tr *ngFor="let user of users">
          <td>{{user.idUsuario}}</td>
          <td>{{user.Nombre}}</td>
          <td>{{user.Municipio}}</td>
          <td>{{user.Estado}}</td>
          <td>{{user.Telefono}}</td>
        </tr>
      </table>

</div>


<button class="btn btn-lg btn-outline-primary" (click)="openModal(mymodal)">Open My Modal</button>
   
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    This is example from ItSolutionStuff.com
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>




