<app-navbar></app-navbar>

<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <button class="btn btn-success" data-bs-toggle="mdlAgregar" data-bs-target="#mdlAgregar" >Add Usuario</button>
        </div>
    </div>
    <br>
    <table class="table">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Municipio</th>
          <th scope="col">Estado</th>
          <th scope="col">Telefono</th>
        </tr>
        <tr *ngFor="let user of users">
          <td>{{user.idUsuario}}</td>
          <td>{{user.Nombre}}</td>
          <td>{{user.Municipio}}</td>
          <td>{{user.Estado}}</td>
          <td>{{user.Telefono}}</td>
        </tr>
      </table>

</div>





