<app-navbar></app-navbar>
<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <button class="btn btn-success" (click)="openModal(mymodal)" >Add Usuario</button>
        </div>
    </div>
    <br>
    <table class="table">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Municipio</th>
          <th scope="col">Estado</th>
          <th scope="col">Telefono</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>

        </tr>
        <tr *ngFor="let user of users">
          <td>{{user.idUsuario}}</td>
          <td>{{user.Nombre}}</td>
          <td>{{user.Municipio}}</td>
          <td>{{user.Estado}}</td>
          <td>{{user.Telefono}}</td>
          <td><button class="btn btn-danger" (click)="updateUser(user);openModal(mymodal)">Editar</button></td>
          <td><button class="btn btn-danger" (click)="deleteUser(user.idUsuario)">Eliminar</button></td>
        </tr>
      </table>
</div>
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{typeOfAction}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="post();modal.close('Save click')" >
    <label for="name">Nombre Completo</label>
    <input type="text" class="form-control" id="name" formControlName="Nombre" aria-describedby="name" placeholder="Enter name" >
    <label for="name">Username</label>
    <input type="text" class="form-control" id="name" formControlName="UserName" aria-describedby="name" placeholder="Enter name" >
    <label for="city">Estado</label>
    <select class="form-select" aria-label="Default select example" (change)="onChange()"  formControlName="idEstado">
        <option *ngFor="let state of states" [value]="state.value">{{state.text}}</option>
    </select>
    <label for="city">Ciudad</label>
    <select class="form-select" aria-label="Default select example"  formControlName="idCiudad" *ngIf="cities">
        <option *ngFor="let city of cities" [value]="city.value">{{city.text}}</option>
    </select>    
    <label for="password">Contrasena</label>
    <input type="password" class="form-control" id="password"  formControlName="PassName" aria-describedby="emailHelp" placeholder="Enter email">
    <label for="phone">Telefono</label>
    <input type="text" class="form-control" id="phone" formControlName="Telefono" aria-describedby="emailHelp" placeholder="Enter email">
    <label for="address">Direccion</label>
    <input type="text" class="form-control" id="address" formControlName="Direccion" aria-describedby="emailHelp" placeholder="Enter email">
    <label for="cp">Codigo Postal</label>
    <input type="text" class="form-control" id="cp" formControlName="CodigoPostal" aria-describedby="emailHelp" placeholder="Enter email">
    <input type="hidden" id="idPais" formControlName="idPais" aria-describedby="emailHelp" value="1">
    <label for="userType">Tipo de Usuario</label>
    <select class="form-select" aria-label="Default select example"  formControlName="TipoUsuario">
        <option selected value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <div class="modal-footer">
    <button type="submit"  class="btn btn-outline-dark"  [disabled]="form.invalid" > Agregar</button>
    </div>
    </form>
  </div>
</ng-template>




